<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors existingResponse="PassThrough" />
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="php_errors.log" />
                    <add segment="settings.local.php" />
                </hiddenSegments>
                <requestLimits maxAllowedContentLength="6291456" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
